body {
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(img/3\ BA.jpg);
    display: auto;
    /* background-color: white; */
    height: 400px;
}

.topnav2{
  display: flex;
  width: 100%;
  height: 50px;
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(img/3\ BA.jpg);
  background-position: center;
  background-size: cover
}

.container{
    display: flex;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(img/3\ BA.jpg);
    background-position: center;
    background-size: cover;
}

a:link, a:visited {
    background-color: gray;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 25px;
}
  
a:hover, a:active {
    background-color: rgb(224, 202, 35);
}

.icon{
    font-size: 3em;
}

.icon a{
    border-radius: 10%;
}

.service{
    position: absolute;
    top: 100px;
    left: 100px;
    margin-top: 30px;
    background-color: #aaa;
    width: 300px;
    padding: 30px;
    text-align: left;
    border: 50% solid #aaa;
    border-radius: 3px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0,0.3);
}

.table{
    color: #ddd;
}

  .hero {
    padding: 5rem;
  }
  span {
    color: red;
  }
  h2 {
    color: white;
    font-size: xx-large;
    padding: 12px;
  }
  h3 {
    color: white;
    padding: 12px;
    padding-left: 3.5rem;
  }
  p {
    color: aliceblue;
    padding: 14px;
    font-family: "Nunito", sans-serif;
    padding-left: 3.5rem;
  }
  .starting a {
    text-decoration: none;
    margin-left: 80px;
    padding: 12px;
  }
  .starting a h4 {
    margin-left: 80px;
    padding-left: 12px;
    height: auto;
    color: white;
  }
  .models {
    margin-left: 120px;
    padding-left: 1.3rem;
  }
  .slim-1 {
    font-size: 20px;
    margin-left: 60px;
    padding-left: 12px;
  }
  .processor {
    font-size: 19px;
    padding-left: 9px;
    margin-left: 80px;
  }
  .spekprosesor {
    padding: 6px 1.8rem 9px 0.5rem;
    padding-top: 6px;
    padding-left: 7rem;
    line-height: 17px;
    font-size: 0.9rem;
  }
  .hz {
    padding: 6px 1.8rem 9px 0.5rem;
    padding-top: 6px;
    padding-left: 7rem;
    line-height: 2px;
    font-size: 0.9rem;
  }
  
  .fitur {
    padding-left: 3.4rem;
  }
